.login-container-float-center{
    position: fixed;
    top: 50%;
    left: 25%;
    width: 530px;
    height: 501px;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background-color: #fff;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
    -webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
    -o-box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
    -ms-box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
    border-radius: 20px ;
    border-color: #2182c147 !important;
    border-width: 1px !important;
    border-style: solid !important;
  }
.imagen{
width: 355px;
height: 76px;
margin-top: 72px ;
margin-left: 15%;
}
.input{
width: 327px;
height: 40px;
margin-left: 15%;
border-radius: 10px ;
}
.buttonAzul{
  width: 147px;
  height: 31px;
  margin-left:35%;
  margin-top: 5%;
  border-radius:10px;
 color: #0067b1;
 border-color: #2182c147 !important;
 background-color: #fff;
}

.buttonAzul:hover{
  width: 147px;
  height: 31px;
  margin-left:35%;
  margin-top: 5%;
  border-radius:10px;
  color: #fff;
 border-color: #2182c147 !important;
 background-color:#0067b1;
 ;
}
  .text-azul{
    color: #0067b1 !important;
  }