<!-- 

<div class="header-container">
  <div class="my-1">
    <div class="d-flex justify-content-start">
       <div class="align-content-start">
        <img class="img-banner" src="../../../../assets/images/logo-banco/LOGO-BDV 1.png">
       </div>
    </div>
  </div>

  
</div>

<div class="my-1">
  <div class="d-flex justify-content-end">
     <div class="align-content-end">
      <img class="" src="../../../../assets/images/logo-banco/Botón inicio.png">
      <img class="" src="../../../../assets/images/logo-banco/Botón tienda.png">
      <img class="" src="../../../../assets/images/logo-banco/Botón perfil.png">
      <img class="" src="../../../../assets/images/logo-banco/NOTIFICACIONES.png">
      <img class="" src="../../../../assets/images/logo-banco/Botón correo.png">
     </div>
  </div>
</div>

<div class="my-1">
  <div class="d-flex justify-content-end">
     <div class="align-content-end">
      <div class="header-container">
        <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
          <nb-icon icon="menu-2-outline" style="color: #DB0032 !important;"></nb-icon>
        </a>
    </div>
     </div>
  </div>
</div>


 -->

 <div class="container-fluid">
  <div class="row">
    <div class="col-6 text-left">
      <!-- Elemento alineado a la izquierda -->
       <img class="img-banner" src="../../../../assets/images/logo-banco/LOGO-BDV 1.png">
    </div>
    <div class="col-6 text-right">
    
      <img class="mr-2" src="../../../../assets/images/logo-banco/Botón inicio.png">
      <img class="mr-2" src="../../../../assets/images/logo-banco/Botón tienda.png">
      <img class="mr-2" src="../../../../assets/images/logo-banco/Botón perfil.png">
      <img class="mr-2" src="../../../../assets/images/logo-banco/NOTIFICACIONES.png">
      <img class="mr-2" src="../../../../assets/images/logo-banco/Botón correo.png">
      <img class="mr-2 cursor-menu" style="cursor: pointer;" (click)="toggleSidebar()" href="#" class="sidebar-toggle" src="../../../../assets/images/logo-banco/Botón menú.png">

    </div>
  </div>
</div>
