<div class="container">
    <div class="row">
        <div class="col-md-12">
            <img src="../../../assets/images/logo-banco/Banner página principal.png">
        </div>
    </div>

    <div class="row"  style="margin-top: 6%;">
        <div class="col-md-12 text-left">
            <span style="color: #0067B1; font-size: 16px;">Acessos directos</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="container">
                <div class="card text-left">
                   
                    <div class="card-body">
                     <img src="../../../assets/images/logo-banco/Movilidad acceso directo.png">
                    </div>
                  </div>
            </div>
           
        </div>    
    </div>


    <div class="row"  style="margin-top: 6%;">
        <div class="col-md-12 text-left">
            <span style="color: #0067B1; font-size: 16px;">Mi perfil</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="container">
                <div class="card text-left">
                     <div class="card-body">
                        <div class="row">
                            <div class="col-md-2">

                            </div>
                        </div>
                    </div>
                  </div>
            </div>
           
        </div>    
    </div>

    <!-- final del container -->
</div>

